<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Credenciamento</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openMap()">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>

    <ion-item>
      <h2 text-wrap>Credenciamento para a Semana Acadêmica (Semic e Joex)</h2>
    </ion-item> 
    <ion-card-content>
      <p>
        <ion-icon name="pin"></ion-icon> Centro de Ciências Biológicas - CCB/UEMA, Campus Paulo VI - São Luís - MA
      </p>
      <p>
        <ion-icon name="calendar"></ion-icon> 06/11/2018
      </p>
      <p>
        <ion-icon name="time"></ion-icon> 13:00 às 17:00
      </p>
    </ion-card-content>

  </ion-card>

  <div class="cred-img"><img src="assets/img/credenciamento.png" /></div>

</ion-content>