<ion-header>

  <ion-navbar>
    <ion-title>Livro de Resumo - SEMIC</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="img-livro-resumo"><img src="assets/img/logo-semic.png"></div>
  <div class="style-button">
    <button ion-button full (click)='openSite("http://www.ppg.uema.br/?page_id=571")'>
      Acesse aqui o Livro de Resumo - SEMIC
    </button>
  </div>
</ion-content>