<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Minicursos </ion-title>
    <ion-buttons end>
      <button ion-button (click)="openMap()">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item ion-item text-wrap *ngFor="let session of sessions" (click)="miniCursoSelected(session)">
      <h2>{{session.title}}</h2>
      <p>{{session.speaker}}</p>
    </ion-item>
  </ion-list>
</ion-content>