<ion-header>
  <ion-navbar>
    <ion-title>Mesa Redonda</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openMap()">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <div padding text-wrap class="title-color">
      <h1>
        <ion-icon name="bookmarks"></ion-icon> Ex bolsista PIBIC/UEMA: Relato de Experiência
      </h1>
    </div>
  </ion-item-divider>
  <ion-item-divider class="item-divider-wp-light no-border-botton color-text">
    <ion-item class="item-divider-wp-light">
      <h5>
        <ion-icon name="people"></ion-icon> Mediadora:
      </h5>
      <br>
      <p text-wrap>Profa. Me. Jeanne Sousa da Silva - UEMA</p>
    </ion-item>

    <ion-item class="item-divider-wp-light">
      <h5>
        <ion-icon name="people"></ion-icon> Participantes:
      </h5>
      <br>
      <p text-wrap>Profa. Dra. Antônia Alice Costa Rodrigues - UEMA<br>
        Profa. Dra. Rosirene Martins Lima - UEMA<br>
        Profa. Me. Débora Batista Pinheiro Sousa - UFMA<br>
        Profa. Me. Adriana do Nascimento Cavalcante - IBAMA<br>
        Profa. Me. Jacilmara Santos Melo - Arquiteta autônoma<br></p>
    </ion-item>
    <ion-item class="item-divider-wp-light">
      <h5>
        <ion-icon name="pricetag"></ion-icon> Descrição:
      </h5>
      <br>
      <p text-wrap>Nesta mesa redonda os participantes irão relatar suas experiências como egressos de Iniciação
        Científica e como o programa influenciou em sua jornada acadêmica e profissional. Essa é uma ótima oportunidade
        para os discentes identificarem a importância do PIBIC em sua formação acadêmica e profissional.</p>
    </ion-item>
  </ion-item-divider>
</ion-content>