page-mesa-redonda {
    
  .title-color h1 {
    color: black;
    font-size: 1.8rem;
  }

  .color-text p{
    color: #666;
  }

  .scroll-content {
    background-color: rgb(245, 245, 245);
  }

  .no-border-botton {
    border-bottom: none;
  }
}