<ion-header>
  <ion-navbar>
    <ion-title>Detalhes da Oficina</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <div padding text-wrap class="title-color">
      <h1>
        <ion-icon name="bookmarks"></ion-icon> {{ofTitle}}
      </h1>
    </div>
  </ion-item-divider>
  <ion-item-divider class="item-divider-wp-light no-border-botton color-text">
    <ion-item class="item-divider-wp-light">
      <h5>
        <ion-icon name="people"></ion-icon> Ministrante:
      </h5>
      <br>
      <p text-wrap>{{ ofMinister }}</p>
    </ion-item>
    <ion-item class="item-divider-wp-light">
      <h5>
        <ion-icon name="pin"></ion-icon> Local:
      </h5>
      <br>
      <p>{{ ofLocation }}</p>
    </ion-item>
    <ion-item class="item-divider-wp-light">
      <h5>
        <ion-icon name="people"></ion-icon> Participantes:
      </h5>
      <br>
      <p>{{ ofParticipant }}</p>
    </ion-item>
  </ion-item-divider>
</ion-content>