<ion-header>

  <ion-navbar>
    <ion-title>Caderno de Resumo - JOEX</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="img-caderno-resumo"><img src="assets/img/logo-joex.png"></div>
  <div class="style-button">
    <button ion-button full (click)='openSite("http://www.proexae.uema.br/joex/")'>
      Acesse aqui o Caderno de Resumo - JOEX
    </button>
  </div>
</ion-content>