page-caderno-resumo {
    img {
        max-width: 270px;
      }
    .item-divider-color {
      background-color: rgb(72,138,255);
      color: white;
    }
  
    .img-caderno-resumo {
      text-align: center;
      padding-top: 20%;
    }

    .style-button{
      padding-top: 18%;
    }
}
