<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>Apresentações Orais</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openMap()">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-sliding detail-push class="border-botton-programacao">
        <button ion-item text-wrap *ngFor="let room of session.rooms" (click)="roomSelected(room)">
          <ion-row>
            <h3>{{room.name}}</h3>
            <ion-col>
            </ion-col>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </ion-row>
        </button>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>