page-room {

.item-divider-color {
    background-color: rgb(72,138,255);
    color: white;
    }

    .border-botton-programacao {
        border-bottom: 1px solid #dedede;
    }

    .img-seta{
        text-align: right;
        padding-top: 1%;
      }
}
