<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-title>Mapa</ion-title>
      <ion-col>
      </ion-col>
      <div class="img-prog"><img src="assets/img/logo-semana-acad.png" /></div>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content class="map-page">
  <div style="height: 100%; width: 100%" #mapCanvas id="map_canvas"></div>
</ion-content>