<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Semana Acadêmica</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openMap()">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <div class="img-semana-acad"><img src="assets/img/topo.png"></div>
  <ion-card>
    <ion-item>
      <h1>1ª Semana Acadêmica</h1>
      <p>30ºSEMIC E 11ºJOEX</p>
    </ion-item>
    <ion-card-content>
      <p>
        <ion-icon name="calendar"></ion-icon> PERÍODO: 6 a 9 de novembro de 2018<br>
        <ion-icon name="pin"></ion-icon> LOCAL: Campus Universitário Paulo VI, São Luís.<br>
        <ion-icon name="md-list-box"></ion-icon> Eventos integrados: SEMIC e JOEX.
      </p>
    </ion-card-content>
    <ion-card-content>
      <p text-wrap>
        Nessa nova edição está previsto a <b>Semana Acadêmica</b> da <b>UEMA</b>, evento que compreenderá o <b>30º Seminário de
        Iniciação Científica – SEMIC</b> e a <b>11ª Jornada de Extensão Universitária – JOEX</b>. Mais do que aproximar
        cronologicamente dois tradicionais eventos da instituição, o propósito é compartilhar experiências e resultados
        de atividades docentes e discentes, unidas pelo objetivo comum de construção de uma educação capaz de intervir
        na sociedade em que está inserida.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <button class="color-button" ion-button full (click)='openSite("http://www.semanaacademica.uema.br/pagina-inicial/")'>
    Faça sua inscrição aqui e saiba mais
  </button>
</ion-footer>