page-semana-acad {
    img {
      max-width: 270px;
    }
  .item-divider-color {
    background-color: rgb(72,138,255);
    color: white;
  }

  .img-semana-acad {
    text-align: center;
    padding-top: 3%;
  }
}
