<ion-header>
  <ion-navbar>
    <ion-title>Detalhes</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openMap()">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <div padding text-wrap class="title-color">
      <h1>
        <ion-icon name="md-book"></ion-icon> {{session.name}}
      </h1>
    </div>
  </ion-item-divider>
  <ion-item-divider class="item-divider-wp-light no-border-botton color-text">
    <ion-item class="item-divider-wp-light">
      <h5>
        <ion-icon name="pin"></ion-icon> Local
      </h5>
      <br>
      <p text-wrap>{{session.location}}</p>
    </ion-item>

    <ion-item *ngIf="session.date" class="item-divider-wp-light">
      <h5>
        <ion-icon name="calendar"></ion-icon> Data
      </h5>
      <br>
      <p text-wrap> {{ session.date }}</p>
    </ion-item>

    <ion-item class="item-divider-wp-light">
      <h5>
        <ion-icon name="time"></ion-icon> Horário
      </h5>
      <br>
      <p text-wrap> {{session.timeStart}} - {{session.timeEnd}}</p>
    </ion-item>

    <ion-item *ngIf="session.speakerName" class="item-divider-wp-light ">
      <h5>
        <ion-icon name="people"></ion-icon> Palestrante(s):
      </h5>
      <br>
      <p>{{ session.speakerName }}</p>
    </ion-item>

    <ion-item *ngIf="session.speakers?.length > 0" class="item-divider-wp-light ">
      <h5>
        <ion-icon name="people"></ion-icon> Palestrante(s):
      </h5>
      <p *ngIf="session.name == 'Relato Geral do Simpósio'">{{ session.speakerNames }}</p>
      <p *ngIf="session.speakers?.length > 0"></p>
      <br>
      <p text-wrap *ngFor="let speaker of session.speakers"> {{speaker.name}}</p>
    </ion-item>

    <ion-item no-lines class="item-divider-wp-light">
      <h5>
        <ion-icon name="pricetag"></ion-icon> Descrição:
      </h5>
      <br>
      <p text-wrap> {{session.description}}</p>
    </ion-item>
  </ion-item-divider>
</ion-content>
<ion-footer *ngIf="session.link">
  <button ion-button full (click)="openPdf(session.link)">Download da Programação</button>
</ion-footer>