
page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  } 

  .slide-image1 img{
    text-align: center;
    padding-top: 20%;
    max-height: 65%;
    max-width: 65%;
  }

  .slide-image img{
    text-align: center;
    padding-top: 30%;
    max-height: 50%;
    max-width: 50%;
  }

  .slide-title{
    padding-top: 10%;
    font-size: 2rem;
  }

  b {
    font-weight: 2rem;
  }

  p {
    padding: 0%;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
