<ion-header>
  <ion-navbar>
    <ion-title>Oficinas</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openMap()">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item ion-item text-wrap *ngFor="let session of sessions" (click)="oficinaSelected(session)">
      <h2>{{session.title}}</h2>
      <p>{{session.minister}}</p>
    </ion-item>
  </ion-list>
</ion-content>