<ion-header>
  <ion-navbar>
    <ion-title>Detalhes do Minicurso</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <div padding text-wrap class="title-color">
      <h1>
        <ion-icon name="md-easel"></ion-icon> {{mcTitle}}
      </h1>
    </div>
  </ion-item-divider>
  <ion-item-divider class="item-divider-wp-light no-border-botton color-text">
    <ion-item class="item-divider-wp-light">
      <h5>
        <ion-icon name="people"></ion-icon> Palestrante:
      </h5>
      <br>
      <p>{{ mcSpeaker }}</p>
    </ion-item>
    <ion-item class="item-divider-wp-light">
      <h5>
        <ion-icon name="pin"></ion-icon> Local:
      </h5>
      <br>
      <p>{{ mcLocation }}</p>
    </ion-item>
    <ion-item class="item-divider-wp-light">
      <h5>
        <ion-icon name="people"></ion-icon> Participantes:
      </h5>
      <br>
      <p text-wrap>{{ mcParticipant }}</p>
    </ion-item>
    <ion-item class="item-divider-wp-light">
      <h5>
        <ion-icon name="md-pricetags"></ion-icon> Descrição:
      </h5>
      <br>
      <p text-wrap>{{ mcDescription }}</p>
    </ion-item>
  </ion-item-divider>
</ion-content>